@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Press Start 2P', cursive;
}

#mainInit {
    width: 100vw;
    display: flex;
    justify-content: center;
}
body img{
    
    width: 100vw;
}

.containerInit {
    width: 450px;
    height: 300px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    position: absolute;
    top: 25%;
    box-shadow: 12px 11px 33px -12px rgba(0,0,0,0.57);
}

#cardTop{
    width: 90%;
    font-size: 1.4rem;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #28a328;
    margin: auto;
}

#cardMain{
    color: #28a328;
}

#cardMain input{
    appearance: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.747);
    height: 40px;
    width: 80%;
    font-family: 'Press Start 2P', cursive;
    color: #147214;
    padding: 0 15px;
}

#cardMain button{
    appearance: none;
    border: none;
    padding: 15px 30px;
    font-family: 'Press Start 2P', cursive;
    background-color: #147214;
    cursor: pointer;
}

#cardMain button:hover{
    background-color: #28a328;
    color: #6dc56d;
}
#cardMain li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    height: 184px;
    margin-top: 50px;
}